$font-family-base: 'Montserrat Alternates', sans-serif;
$font-size-base: 1.25rem;

$primary: #52616b;
$dark: #1e2022;
$light: #c9d6df;
$white: #f0f5f9;

$body-color: $white;
$body-bg: $primary;
$link-color: $white;
